.property-list
  - @properties.each do |property|
    .property-card
      %h1.name= property.name
      %p.description= truncate(property.description, length: 150)
      %span.address= property.address

= paginate @properties
