= render "properties/details", property: @property

.availabilities
  %h2 Availabilities
  - @grouped_availabilities.each do |date, availabilities|
    .availability-list
      .day
        = date.to_datetime.to_fs(:basic_date)
      - availabilities.each do |availability|
        = render "availabilities/card", availability: availability, property: @property
  = paginate @availabilities
