@use "shared/variables";

.availability {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid variables.$black;
  display: flex;
  flex-wrap: wrap;

  .book-for {
    color: variables.$dark-grey;
    font-weight: bold;
    flex: 100%;
  }

  .datetime {
    margin-top: 1rem;
    font-size: 2rem;
    flex: 1 1 auto;
  }

  .actions {
    flex: 1 1 400px;
    justify-content: right;
  }
}
