@use "shared/variables";

.property {
  .name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .address {
    color: variables.$dark-grey;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
